.circle {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #e04747;
  position: relative;
  cursor: pointer;
}
.circle::before {
  content: "";
  position: absolute;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) rotate(15deg);
  height: 15px;
  width: 75px;
  border: 3px solid white;
  border-top: 0;
}
.circle:after {
  content: "";
  width: 320px;
  height: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  border-radius: 100%;
  z-index: -1;
}
.circle:hover::before {
  animation: bounce 0.8s ease-out;
}
.circle:hover::after {
  background-image: url('data:image/svg+xml;utf8,\
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 400 400" width="160" height="160">\
        <style>\
            @keyframes rotateShape %7Bto %7B transform: rotate(-360deg)}} %3C/style>\
      <g>\
          <circle cx="15" cy="85" r="10" style="fill:none;stroke-width:4;stroke:rgb(192,192,192);"/>\
          <polygon points="110 10, 100 30, 120 30" style="fill:none;stroke-width:2;stroke: rgb(255,102,102);transform-origin: 120px 25px;transform: rotate(-25deg);animation:rotateShape 2s linear infinite"/>\
        <polygon points="110 100, 90 100, 90 120, 110 120" style="fill:none;stroke-width:2;stroke: rgb(0,102,204);transform-origin: 100px 110px;transform: rotate(5deg);animation:rotateShape 2s linear infinite"/>\
      </g>\
    </svg>');
  background-size: 100px 100px;
  animation: burst 0.8s ease-out;
}
@keyframes bounce {
  0% {
    transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
  }
  25% {
    transform: translate3d(-50%, -50%, 0) scale3d(1.2, 1.2, 1.2);
  }
  45% {
    transform: translate3d(-50%, -50%, 0) scale3d(0.85, 0.85, 0.85);
  }
  60% {
    transform: translate3d(-50%, -50%, 0) scale3d(1.05, 1.05, 1.05);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
  }
}
@keyframes burst {
  60% {
    opacity: 1;
  }
  100% {
    transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
    opacity: 0;
  }
}
html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  background: #251f44;
  overflow: hidden;
}
